.article {
    text-align: center;
    padding: 0 20px 0 20px;
    height: 100%;
    width: 60vw;
}

.article__button {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(173, 163, 180);
    border: transparent;
    height: 20px;
    width: 50px;
    margin-bottom: 10px;
}

.news_section-img {
    height: 100%;
    width: 100%;
}

.article-author {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}

.article-topic {
    font-size: 13px;
}

.article-desc {
    font-weight: bold;
}

a {
    color: rgb(70, 69, 69)
}

a:hover {
    color: rgb(173, 163, 180);
}